name: Generate TechDocs

on:
  push:
    branches: [ main ]

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install
      - run: npm run generate-docs
      - name: Commit generated docs
        run: |
          git config --local user.email "satou@aimsys.co.jp"
          git config --local user.name "shouji-satou"
          git add docs
          git commit -m "Update TechDocs" || echo "No changes"
          git push
